<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/nav.ejs') -%>
    <main>
        <div class="container">
            <h1 class="my-4">My Blogs</h1>
            <div class="mb-4">
                <a href="/create-blog" class="btn btn-primary btn-lg">Create Blog</a>
            </div>
            <div class="row">
                <% blogs.forEach(blog => { %>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title"><%= blog.title %></h5>
                                <p class="card-text"><%= blog.content.substring(0, 100) %>...</p>
                                <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read More</a>
                                <a href="/blogs/<%= blog._id %>/delete" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
